/* h1{
    font-size: 30px;
} */

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 132, 132);
    padding: 20px;
}
.pdf{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50%;
    background-color: rgba(187, 224, 224, 0.973);
}
input{
    cursor: pointer;
    padding: 30px;
    background-color: bisque;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    width: 50%;
    height: 200px;
    text-align: center;

}
textarea{
    padding: 10px;
    width: 400px;
    height: 100px;
    background-color: rgb(196, 255, 199);
}